@import url('https://fonts.googleapis.com/css?family=Sofia:wght@500;600;700;800;900&family=Chango:wght@300;400;500;600;700&family=Darumadrop One:wght@300;400;500;600;700&family=Are You Serious:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crafty Girls:wght@300;400;500;600;700;900;1500&display=swap');
:root {
    --Serious: 'Are You Serious';
    --Sofia: 'Sofia';
    --Crafty: 'Crafty Girls';
    --Daruma: 'Darumadrop One';
    --Chango: 'Chango';
    --dark: #3c393d;
    --exDark: #2b2b2b;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--Chango);
    box-sizing: border-box;
}

body {
    line-height: 1.4;
    color: var(--dark);
}

img {
    width: 350px;
    display: block;
    margin: auto;
    
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

/* header */
header {
    min-height: 100vh;
    background: url(../images/munchersbg.png) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

/* top bar */
.navbar {
    background: rgb(200, 142, 167);
    padding: 1rem;
}


.navbar-brand {
    color: rgb(100, 56, 67);
    font-size: 3rem;
    display: inline;
    text-align: start;
    text-decoration: none;
    font-family: var(--Sofia);
    letter-spacing: 1px;
}


.navbar-nav {
    padding-block: 1rem;
    justify-content: center;
}

.navbar-nav a {
    text-transform: uppercase;
    text-align: match-parent;
    font-family: var(--Daruma);
    letter-spacing: 0.5px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 1px;
    transition: opacity 0.3s ease;
}

.navbar-nav a:hover {
    opacity: 0.5;
}

.banner {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #2b2b2b;
}

.banner-title {
    font-size: 3rem;
    font-family: var(--Chango);
    line-height: 1.2;
    color: rgb(200, 142, 167);
}

.banner-title span {
    font-family: var(--Sofia);
    color: rgb(100, 56, 67);
}

.banner p {
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: none;
    font-family: var(--Daruma);
    font-weight: 300;
    word-spacing: 2px;
}

.banner form {
    background: rgb(255, 239, 239);
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}

.search-input {
    color: rgb(100, 56, 67);
    font-family: var(--Daruma);
    font-size: 1.1rem;
    width: 100%;
    outline: 0rem;
    padding: 0.6rem 0;
    border: 0rem;
    background-color: rgb(255, 239, 239);
}

.search-input::placeholder {
    text-transform: lowercase;
}

.search-btn {
    width: 40px;
    font-size: 1.1rem;
    color: var(--dark);
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}

/* lore slides */
.lore-cards {
    padding: 4.5rem 0;
    background-color: rgb(248, 232, 238);
}

.title {
    text-align: center;
    padding: 1rem 0;
}

.title h2 {
    font-family: var(--Crafty);
    font-size: 4rem;
    font-weight: 900;
    color: rgb(100, 56, 67);

}

.title p {
    text-transform: none;
    padding: 0.6rem 0;
    font-family: var(--Daruma);
}

/* slider */
.slider-wrapper {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY
}
  
  .slider-wrapper .slide-button:hover {
    background: #404040;
  }
  
  .slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
  }
  
  .slider-wrapper .slide-button#next-slide {
    right: -25px;
  }
  
  .slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
  }
  
  .slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
  }
  
  .slider-wrapper .image-list .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
  }
  
  .container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }
  
  .slider-scrollbar:hover .scrollbar-track {
    height: 4px;
  }
  
  .slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
  }
  
  .slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
  }
  
  .slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
  }

  .featured-box {
    width: calc(10% - 10px); /* Two boxes side by side with margin */
    height: 400px; /* Set the height of the boxes */
    margin: 5px;
    display: flex; /* Ensure content is vertically centered */
    flex-direction: row; /* Set to row for landscape layout */
  }
  
  .featured-box a {
    display: block;
    position: relative;
  }
  
  .featured-box img {
    width: auto; /* Adjust width and height properties */
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio */
    border-radius: 10px;
  }
  
  .featured-box .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .featured-box:hover .overlay {
    opacity: 1;
  }
  
  .featured-box .overlay h2 {
    font-size: 24px; /* Adjusted font size */
    margin-bottom: 5px; /* Adjusted margin */
  }
  
  .featured-box .overlay p {
    font-size: 18px; /* Adjusted font size */
    margin: 0;
    text-align: center;
  }



/* about */
.about {
    padding: 4.5rem 0;
    background: linear-gradient(rgb(248, 232, 238),rgb(253, 206, 223));
}

.about-text {
    margin: 2rem 0;
}

.about-text > p {
    font-size: 1.1rem;
    padding: 0.6rem 0;
    opacity: 0.8;
    font-family: var(--Daruma);
}

.about-text .title h2 {
  font-family: var(--Chango);
  color: rgb(153, 98, 122);
}

.about-text .title p {
  font-size: x-large;
    font-family: var(--Serious);
}

/* footer */
footer {
    background: var(--exDark);
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}

.social-links a {
    border: 2px solid #fff;
    color: rgb(195, 152, 152);
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.5s ease;
}

.social-links a:hover {
    background: rgb(152, 112, 112);
    color: var(--exDark);
}

.footer span {
    margin-top: 1rem;
    display: block;
    font-family: var(--Playfair);
    letter-spacing: 2px;
}

  
  /* Styles for mobile and tablets */
  @media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
      display: none !important;
    }
  
    .slider-wrapper .image-list {
      gap: 10px;
      margin-bottom: 15px;
      scroll-snap-type: x mandatory;
    }
  
    .slider-wrapper .image-list .image-item {
      width: 280px;
      height: 380px;
    }
  
    .slider-scrollbar .scrollbar-thumb {
      width: 20%;
    }
  }

/* Media Queries */
@media screen and (min-width: 540px){
    .navbar-nav a{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    .banner-title{
        font-size: 5rem;
    }
    .banner form{
        margin-top: 1.4rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search-input{
        padding: 0.8rem 0;
    }
    .design-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .design-item{
        margin: 0;
    }
    .blog-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (min-width: 992px){
    .blog-content{
        grid-template-columns: repeat(3, 1fr);
    }
    .about-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .design-content{
        grid-template-columns: repeat(3, 1fr);
    }
}