@import url('https://fonts.googleapis.com/css?family=Sofia:wght@500;600;700;800;900&family=Chango:wght@300;400;500;600;700&family=Darumadrop One:wght@300;400;500;600;700&family=Chicle:wght@300;400;500;600;700&display=swap');

:root {
    --Sofia: 'Sofia';
    --Daruma: 'Darumadrop One';
    --Chango: 'Chango';
    --Chicle:'Chicle';
    --dark: #3c393d;
    --exDark: #2b2b2b;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--Chango);
    box-sizing: border-box;
}

body {
    line-height: 1.4;
    color: var(--dark);
    background: linear-gradient(rgb(253, 206, 223),rgb(249, 245, 246));
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
    color: #000;
}

/* top bar */
.navbar {
    background: rgb(200, 142, 167);
    padding: 1rem;
}

.navbar-brand {
    color: rgb(249, 245, 246);
    font-size: 3rem;
    display: inline;
    text-align: start;
    text-decoration: none;
    font-family: var(--Sofia);
    letter-spacing: 1px;
}

.navbar-brand:hover {
    opacity: 0.5;
}

.navbar-nav {
    padding-block: 1rem;
    justify-content: center;
}

.navbar-nav a {
    text-transform: uppercase;
    text-align: match-parent;
    font-family: var(--Daruma);
    letter-spacing: 0.5px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 1px;
    transition: opacity 0.3s ease;
}

.navbar-nav b {
    text-transform: uppercase;
    text-align: match-parent;
    font-family: var(--Daruma);
    letter-spacing: 0.5px;
    font-weight: 800;
    color: rgb(100, 56, 67);
    text-decoration: none;
    display: inline-block;
    letter-spacing: 1px;
    transition: opacity 0.3s ease;
}

.navbar-nav a:hover {
    opacity: 0.5;
}

.navbar-nav b:hover {
    opacity: 1;
}

/* Video container */
.featured-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    text-decoration: none;
    /* height: 80%; */
}

.featured-box h1 {
    font-size: medium;
    color: black;
    font-family: var(--Daruma);
    text-align: center;
    text-decoration: none;
}


.featured-box {
    position: relative;
    width: 30%; /* Adjust the width to ensure three items per row */
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
}

.featured-box img {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.overlay h2 {
    color: #fff;
    font-family: var(--Chango);
    text-align: center;
    text-decoration: none;
}

.overlay p {
    font-size: large;
    color: #fff;
    font-family: var(--Chicle);
    text-align: center;
    text-decoration: none;
}

.featured-box:hover .overlay {
    opacity: 1;
}


html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main.content {
    flex: 1;
}

/* Footer styling */
footer {
    background: var(--exDark);
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    width: 100%;
}

/* Social links container */
.social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}

/* Individual social link styling */
.social-links a {
    border: 2px solid #fff;
    color: rgb(195, 152, 152);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.5s ease;
}

/* Hover effect for social links */
.social-links a:hover {
    background: rgb(152, 112, 112);
    color: var(--exDark);
}

/* Footer text styling */
footer span {
    margin-top: 1rem;
    display: block;
    font-family: var(--Playfair);
    letter-spacing: 2px;
}
/* Media Queries */
@media screen and (min-width: 540px) {
    .navbar-nav a {
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }

}

@media screen and (min-width: 768px) {
    .navbar .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (min-width: 992px) {
    .about-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        align-items: center;
    }
}

